@import "reset";
@import "fonts";

body {
  font-family: "Noto Sans JP", sans-serif;
}

.content {
  width: 100%;
  margin: auto;
  padding: 0 1rem;
  font-size: 1.5rem;
  max-width: 1024px;
  position: relative;
  text-align: center;
}

input,
textarea,
button {
  font-family: "Noto Sans JP", sans-serif;
}

button {
  cursor: pointer;
}

.slide-fade-enter {
  transform: translateX(10px);
  opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.2s ease;
}

.slide-fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}
